<div class="h-screen flex items-center justify-center w-full">
  <form [formGroup]="loginForm" class="flex flex-col border border-gray-300 rounded-md p-4">
    <div class="mb-5">
      <input type="text" formControlName="email" class="border border-gray-300 rounded-md">
      @if (validIfFieldIsInvalidAndTouched('email')) {
        <div *ngIf="validRequiredOfField('email')" class="text-red-500 text-[10px]">Email é obrigatório</div>
        <div *ngIf="validIfFieldIsCorrect('email')" class="text-red-500 text-[10px]">Email é inválido</div>
      }
    </div>
    <div class="mb-5">
      <input type="password" formControlName="password" class="border border-gray-300 rounded-md">
      @if (validIfFieldIsInvalidAndTouched('password')) {
        <div *ngIf="validRequiredOfField('password')" class="text-red-500 text-[10px]">Senha é obrigatória</div>
        <div *ngIf="validMinLengthOfField('password')" class="text-red-500 text-[10px]">Senha deve ter no mínimo 6 caracteres</div>
      }
    </div>

    <app-button [text]="'Entrar'" (buttonClicked)="login()"></app-button>
  </form>
</div>